body {
    color : green;
    font-family : verdana;
    padding : 1rem;
}
#user-form {
    display : flex;
    flex-direction : column;
}
#user-form > * {
    margin-bottom : 1rem;
    padding : 0.5rem;
}